@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

a {
  text-decoration: none;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* End container */

/* header */
.header {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  display: block;
  margin-right: 10px;
}

.header__logo span {
  font-size: 34px;
  font-weight: 800;
  color: #000;
}

.header__menu,
.header__icon {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header__menu li {
  margin: 0 30px;
  font-size: 20px;
  font-weight: 500;
}

.header__menu li a {
  color: #000;
}

.header__icon li {
  margin: 0 20px;
  font-size: 20px;
}
/* End header */

/* footer */
.footer {
  border-top: 1px solid #d9d9d9;
}

.footer__main {
  padding: 50px 0;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}

.footer__contact {
  width: 30%;
}

.footer__contact-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.footer__contact-address,
.footer__contact-phone {
  color: #9f9f9f;
  font-weight: 400;
  line-height: 1.3;
}

.footer__contact-address {
  margin-bottom: 10px;
}

.footer__title {
  color: #9f9f9f;
  font-weight: 500;
  margin-bottom: 50px;
}

.footer__links {
  padding: 0 80px;
}

.footer__help {
  margin-right: 100px;
}

.footer__links ul,
.footer__help ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.footer__links ul li,
.footer__help ul li {
  margin-bottom: 40px;
  color: #000;
  font-weight: 500;
}

.footer__links ul li:last-child {
  margin-bottom: 0;
}

.footer__newsletter {
  flex: 1;
}

.footer__input input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 16px;
  padding: 0 0 5px 0;
}

.footer__input a {
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  margin-left: 10px;
}

.footer__input a:hover {
  color: #9f9f9f;
}

.footer__copy {
  padding: 40px 0;
  color: #000;
  font-weight: 500;
}
/* End footer */